<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin User</title>
</head>
<body>
    <section layout:fragment="content">
        <p>&nbsp;</p>
        <h1>Users</h1>
        <p>&nbsp;</p>
        <a class="btn btn-primary" th:href="@{/admin/user/add}" role="button">Add New</a>
        <p>&nbsp;</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, iStat : ${users}">
                    <th scope="row" th:text="${iStat.count}"></th>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:href="${'/admin/user/edit/' + user.id}">Edit </a>  &nbsp; &nbsp;<a th:href="${'/admin/user/delete/' + user.id}"> Delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>