<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin - User - Add</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Add New User</h1>
        <form method="post">
            <label>Username: <input name="userName" type="text"></label>
            <label>Password: <input name="password" type="text"></label>
            <p>&nbsp;</p>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </section>
</body>
</html>