<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">-->
<!--<head>-->
<!--    <title>Admin Slider</title>-->
<!--</head>-->
<!--<body>-->
<!--    <section layout:fragment="content">-->
<!--        <p>&nbsp;</p>-->
<!--        <a class="btn btn-primary" th:href="@{/admin/slider/add}" role="button">Add New</a>-->
<!--        <p>&nbsp;</p>-->
<!--        <table class="table">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Number</th>-->
<!--                    <th scope="col">ID</th>-->
<!--                    <th scope="col">Title</th>-->
<!--                    <th scope="col">Link</th>-->
<!--                    <th scope="col">Image</th>-->
<!--                    <th scope="col">Facts</th>-->
<!--                    <th scope="col">Edit/Delete</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                <tr th:each="map, iStat : ${maps}">-->
<!--                    <th scope="row" th:text="${iStat.count}"></th>-->
<!--                    <td th:text="${map.id}"></td>-->
<!--                    <td th:text="${map.title}"></td>-->
<!--                    <td th:text="${map.link}"></td>-->
<!--                    <td th:text="${map.image}"></td>-->
<!--                    <td th:text="${map.facts}"></td>-->
<!--                    <td><a th:href="${'/admin/slider/edit/' + map.id}">Edit </a>  &nbsp; &nbsp;<a th:href="${'/admin/slider/delete/' + map.id}"> Delete</a></td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </section>-->
<!--</body>-->
<!--</html>-->