<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin - Map - Add</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Add New Map</h1>
        <form method="post">
            <label>Title: <input name="title" type="text"></label>
            <label>Link: <input name="link" type="text"></label>
            <label>Image: <input name="image" type="text"></label>
            <br>
            <label>Slider Name: <input name="slider_name" type="text"></label>
            <label>Facts: <textarea name="facts" type="text"></textarea></label>
            <p>&nbsp;</p>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </section>
</body>
</html>