<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Geologic Mapping</title>
</head>

<body>

    <!--Content-->
    <section layout:fragment="content">
        <h1 class="events-title psyche-headline">Planetary Geological Mapping</h1>
        <p class="events psyche-body">
            Geological mapping is the creation of a special map made to display various geological features.
            "It is a highly interpretive, scientific process that can produce a range of map products for many different uses, including assessing ground water quality and contamination risks;
            predicting earthquake, volcano, and landslide hazards." -<a href="https://www.usgs.gov/core-science-systems/national-cooperative-geologic-mapping-program/science/introduction-geologic?qt-science_center_objects=0#qt-science_center_objects" rel="noopener" target="_blank">USGS</a>
            They are also used for planetary mapping!
            
        </p>
        <img class="psyche-launch-img" src="images/Camelback3DScene.jpg" alt="Psysche_Launch">
    </section>

</body>
</html>

