<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Geologic Mapping</title>
</head>

<body>
    <!--Content-->
    <section id="geo-content" layout:fragment="content">
        <div class="geo-info">
            <h1 class="events-title psyche-headline">Planetary Geological Mapping</h1>
            <p>&nbsp;</p>
            <div class="accordion" id="geomapping-accordion">
                <div th:each="accordion,iterStat : ${accordions}" class="accordion-item">
                    <h2 class="accordion-header" th:id="${'heading' + accordion.id}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" th:text="${accordion.title}" th:data-bs-target="${'#collapse' + accordion.id}" th:aria-expanded="${iterStat.first}? 'true' : 'false'" th:aria-controls="${'#collapse' + accordion.id}">
                        </button>
                    </h2>
                    <div th:id="${'collapse' + accordion.id}" class="accordion-collapse collapse" th:classappend="${iterStat.first}? 'show'" th:aria-labelledby="${'heading' + accordion.id}" data-bs-parent="#geomapping-accordion">
                        <div class="accordion-body">
                            <p th:text="${accordion.paragraph}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="geo-images">
            <img id="geo-sata" class="geo-sata" src="images/Psyche_spacecraft_model.png" alt="spacecraft">
            <img id="geo-psyche" class="geo-psyche" src="images/Psyche_home.png" alt="psyhce">
        </div>
            
        </p>



<!--        <img class="camelback" src="images/Camelback3DScene.jpg" alt="camelback">-->
    </section>
</body>
</html>

