<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<body>
<div id="nav" th:fragment="nav">

    <nav class="navbar navbar-expand-sm navbar-light">

        <a href="https://psyche.asu.edu/" target="_blank" rel="noopener" id="psyche-title"><img id th:src="@{/images/Psyche_logo.jpg}" alt="Psyche logo" width="100" height="100"></a>

        <ul id="navbar-nav" class="navbar-nav">
            <li>
                <a href="https://psyche.asu.edu/" target="_blank" rel="noopener"  class="navbar-brand">&nbsp Psyche</a>
            </li>
            <li>
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}" th:href="@{/}">&nbsp Home</a>
            </li>
            <li>
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/geologic-mapping' ? 'active' : ''}" th:href="@{/geologic-mapping}">&nbsp Geologic Mapping</a>
            </li>
            <li>
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/map' ? 'active' : ''}" th:href="@{/map}">&nbsp Map Library</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/admin}">&nbsp Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active' : ''}" th:href="@{/admin}">&nbsp Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">&nbsp Log Out</a>
            </li>
        </ul>

        <a href="https://twitter.com/missiontopsyche?lang=en" target="_blank" rel="noopener" class="link" id="twitter-link"> Twitter <img class="link-imgs" th:src="@{/images/twitter.png}" alt="twitterlogo" width="25" height="25"></a>
        <a href="https://www.instagram.com/missiontopsyche/?hl=en" target="_blank" rel="noopener" class="link" id="insta-link"> Instagram <img class="link-imgs" th:src="@{/images/instagram.png}" alt="instalogo" width="25" height="25"></a>
    </nav>

</div>
</body>