<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head th:fragment="headerFiles">
</head>
<body>
<div id="nav" th:fragment="nav">

    <nav class="navbar navbar-expand-md navbar-light">

        <a href="https://psyche.asu.edu/" target="_blank" rel="noopener" class="navbar-brand"><img id th:src="@{/images/Psyche_logo.jpg}" alt="Psyche logo" width="100" height="100"></a>
        <span  class="navbar-text"><a href="https://psyche.asu.edu/" target="_blank" rel="noopener" id="psyche-title">Psyche</a></span>
        <ul id="navbar-nav" class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" th:href="@{/}">&nbsp Home</a>
            </li>
            <li>
                <a class="nav-link" th:href="@{/geologic-mapping}">&nbsp Geologic Mapping</a>
            </li>
            <li>
                <a class="nav-link" th:href="@{/map/nav}">&nbsp Map Library</a>
            </li>
        </ul>

        <a href="https://twitter.com/missiontopsyche?lang=en" target="_blank" rel="noopener" class="link" id="twitter-link"> Twitter <img class="link-imgs" th:src="@{/images/twitter.png}" alt="twitterlogo" width="25" height="25"></a>
        <a href="https://www.instagram.com/missiontopsyche/?hl=en" target="_blank" rel="noopener" class="link" id="insta-link"> Instagram <img class="link-imgs" th:src="@{/images/instagram.png}" alt="instalogo" width="25" height="25"></a>

    </nav>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">

    $(document).ready(function (){
        $('a').on('click', function ()
        {
            $(this).siblings().remove('active');
            $(this).removeClass('active');
        })
    })
</script>

</body>