<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="mapcontrols">
    <meta charset="UTF-8">
</head>
<body>
<div id="controls" class="controls" th:fragment="controls">

    <h2> Planetary Geological Map </h2>
<!--    <input type="checkbox" id="craters" name="craters"><label for="craters"> Craters </label><br>-->
<!--    <input type="checkbox" id="ridges" name="ridges"><label for="ridges"> Ridges </label><br>-->
<!--    <input type="checkbox" id="mountains" name="mountains"><label for="mountains"> Mountains </label><br>-->
<!--    <input type="checkbox" id="spacecraft" name="spacecraft"><label for="spacecraft"> Spacecraft </label><br>-->

    <a>This geological map was created using ArcGIS Pro. To explore the geological map in more detail click Explore in Scene Viewer
        in the top right of the panel.<br></a>
    <a>All of this was inspired by Nasa Solar System Treks team. Check out their website below to explore our universe in more detail!<br></a>
    <a href="https://trek.nasa.gov/" target="_blank" rel="noopener" id="treks_link"> Nasa Solar System Treks </a>
</div>
</body>
</html>