/*Global*/
body
{
    font-family: sans-serif;

    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 99vh;
    margin: 0 auto -50px;
}

.psyche-headline {
    color: #302144;
    font-size: 42px;
    padding-bottom: 0;
}

.psyche-body{
    color: #302144;
    font-size: 24px;
}

/*Navbar*/
.navbar-nav{
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.navbar-text{
    font-weight: bold;
    font-size: 20px;
}
#navbar-nav li a{
    color: black;
    font-size: 20px;
 }
#navbar-nav li a:hover{
    color: red;
    text-decoration: none;
}
#nav .links-wrapper{
    top: 30px;
    right: 10px;
    float: right;
    border: 1px #ef5966;

}

/*Social Links */
.link{
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 3px;
    text-decoration: none;
    color: black;
}
#twitter-link{
    top: 30px;
}
#insta-link{
    top: 60px;
}
.link:hover{
    font-weight: bold;
    color: #ef5966;
}

.link-imgs{
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.link:hover .link-imgs{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.psyche-title{
    color: #A53F5B;
    font-size: 21px;
}

/*index.html*/
.carousel-caption{
    background: rgba(60,60,60,0.50);
}

.carousel-item{
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#home-carousel {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.CTA-container{
    text-align: center;
}

.cta-button{
    background-color: #302144 !important;
    border-color: #302144 !important
}

.cta-button:hover{
    background-color: #f47c33 !important;
    border-color: #f47c33 !important;
}
/*geological-mapping.html*/
/*NEEDS REDONE*/
#geo-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.geo-info{
    width: 1000px;
    padding: 10px;
    flex: 50%;
}
.geo-images{
    /*position: absolute;*/
    flex: 50%;
    width: 100%;
}
.geo-sata{

    bottom: -109px;
    right: 15px;
    height: 125px;
    width: 125px;
    opacity: 0.9;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
    position: absolute;
    animation-name: movingSata;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}
@keyframes movingSata{
    from{
        transform: translateY(0) translateX(0);
    }
    to{
        transform: translateY(-800px) translateX(-450px);
    }
}

.geo-psyche{
    top: 270px;
    right: -105px;
    position: absolute;
    transform: rotate(90deg);
    height: 54%;
}
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .geo-images, .geo-info {
        flex: 100%;
    }
}

/*Map List*/
#map{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
#map:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.map-wrap{
    display: flex;
}
.map-list-wrap{
    flex: 50%;
}
.index-ref-wrap{
    /*display: flex;*/
    width: 500px;
    margin-right: 200px;
    border-radius: 15px;
    border: 1px solid red;
    float: right;
    /*flex: 50%;*/
    padding: 20px;
}
.ref-div{
    flex: 50%;
}

.ref-summary{
    flex: 50%;
    list-style: none;
}
.ref-link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ref-summary a:hover{
    transition: all 0.2s ease-in-out;
    color: #A53F5B;
    font-weight: bold;
}
/*maps.html, moon.html, mars.html, psyche.html*/
.iframeContainer{
    width: 100%;
    height: 920px;
}

.iframeContainer .tabContainer{
    height: 30px;
    padding: 2px 10px;
}

.iframeContainer .tabContainer button{
    width: 80px;
    height: 100%;

    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 2px;
    font-size: 15px;
    background-color: white;
    transition: all .5s ease;

}

.iframeContainer .tabContainer button:hover{
    background-color: #A53F5B;
    color: white;
    transition: all .5s ease;
}

.mapcontent{
    justify-content: center;
    transition: all .5s ease;
}

#map3D{
    display: block;
}
#map2D{
    display: none;
}

/*For side slide bar*/
.side-desc{
    position: fixed;
    padding: 40px;
    right: -400px;
    top: 150px;
    bottom: 0;
    background: #333;
    width: 400px;
    font-size: 15px;
    color: white;
    z-index: 0;
    transition: 0.7s ease-in-out;
    border-radius: 5px;
}

/*Mars Slider*/
.toggle-title-mars{
    transform: rotate(270deg);
    position: fixed;
    /*top: 300px;*/
    bottom: 250px;
    right: 0;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.mars-toggle{
    position: fixed;
    /*top: 150px;*/
    bottom: 300px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.toggle-title-mars:hover,.toggle:hover,.mars-toggle:hover{
    color:#ef5966;
}
#toggler{
    display: none;
}
#toggler:checked + .page-wrap .side-desc{

    right: 0;
}
#toggler:checked + .page-wrap .mars-toggle{

    right: 400px;
}
#toggler:checked + .page-wrap .toggle-title-mars{

    right: 385px;
}

/*Moon Slider*/
.toggle-title-moon{
    transform: rotate(270deg);
    position: fixed;
    /*top: 150px;*/
    bottom: 250px;
    right: -55px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.moon-toggle{
    position: fixed;
    /*top: 150px;*/
    bottom: 350px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.toggle-title-moon:hover,.toggle:hover,.moon-toggle:hover{
    color:#ef5966;
}
#toggler:checked + .page-wrap .toggle-title-moon{
    right: 330px;
}
#toggler:checked + .page-wrap .moon-toggle{

    right: 400px;
}

/*Psyhce Slider*/
.toggle-title-psyche{
    transform: rotate(270deg);
    position: fixed;
    /*top: 150px;*/
    bottom: 260px;
    right: -35px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.psyche-toggle{
    position: fixed;
    /*top: 150px;*/
    bottom: 350px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.toggle-title-psyche:hover,.toggle:hover,.psyche-toggle:hover{
    color:#ef5966;
}
#toggler:checked + .page-wrap .toggle-title-psyche{
    right: 350px;
}
#toggler:checked + .page-wrap .psyche-toggle{

    right: 400px;
}

/*footer*/
footer, .push {
    height: 50px;
}

.footer > p {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    font-size: 50%;
}