/*Global*/
body
{
    font-family: sans-serif;
    overflow-x: hidden;
}

/*Navbar*/
.navbar-nav{
    font-weight: bold;
    font-size: 20px;
}

.navbar-text{
    font-weight: bold;
    font-size: 20px;
}
#psyche-title{
    text-decoration: none;
}
#navbar-nav li a:hover{
    color: red;
}
#nav .links-wrapper{
    top: 30px;
    right: 10px;
    float: right;
    border: 1px #ef5966;

}
/*#psyche-title{*/
/*    font-weight: bold;*/
/*}*/
#psyche-title:hover{
    color: #592651;
}
.link{
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 3px;
    text-decoration: none;
    color: black;
}
#twitter-link{
    top: 30px;
}
#insta-link{
    top: 60px;
}
.link:hover{
    font-weight: bold;
    color: #ef5966;
}
.link-imgs{
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}
.link:hover .link-imgs{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
.psyche-title{
    color: #A53F5B;
    font-size: 21px;
}

.psyche-headline {
    color: #302144;
    font-size: 42px;
    padding-bottom: 0;
}

.psyche-body{
    color: #302144;
    font-size: 24px;
}

/*index.html*/
.content-index{
    display: grid;
    grid-template-areas:
            'title craft'
            'text image'
            'text image'
            'footer footer';
    grid-template-rows: 100px 100px 800px;
    grid-template-columns: 1fr 1fr;
}
.psyche-img{
    grid-area: image;
    position: relative;
    overflow: hidden;
    margin-left: 26%;
    transform: rotate(90deg);

}
.psyche-craft-img{
    grid-area: craft;
    width: 100px;
    height: 100px;
    opacity: 0.5;

}
.title{
    grid-area: title;
    padding-left: 10%;
}
.facts{
    grid-area: text;
    padding-left: 12%;
}



/*maps.html, moon.html, mars.html, psyche.html*/
.content-maps{
    /*padding-left: 3%;*/
}
.viewport{
    display: flex;
    justify-content: center;
}
.content-maps > .viewport {
    width: 100%;
    max-height: 10%;
    overflow: hidden;
    horiz-align: center;
}
/*svg{*/
/*    border: 1px solid black;*/
/*}*/
.content-maps > #map {
    width: 100%;
}
.content-maps > .img-map{
    width:100%;
    border: 2px solid black;
}

/*Testing the mapping controls*/
/*path:hover, circle:hover{*/
/*    stroke: #002868 !important;*/
/*    stroke-width: 2px;*/
/*    stroke-linejoin: round;*/
/*    fill: #002868;*/
/*    cursor: pointer;*/
/*}*/
.content-maps a{
    color: #592651;
    text-decoration: none;
}
.content-maps a:hover{
    transition: color 0.5s;
    color: #a53f5b;
}
.content-maps img{
    opacity: 0.7;
}
.content-maps a:hover img{
    rotation: 45deg;
    transition: opacity 0.3s;
    opacity: 1;
}
.controls{
    position: absolute;
    margin-left: 60%;
    margin-top: 2%;
}



/*geological-mapping.html*/
.content-events{
    display: grid;
    grid-template-areas:
            'title image'
            'text image'
            'space image'
            'footer footer';
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr .8fr;
    position: relative;
    z-index: 0;
}
.events-title{
    grid-area: title;
    padding-left: 10%;
}

.events{
    grid-area: text;
    padding-left: 12%;
}

.psyche-launch-img{
    grid-area: image;
    max-width: 100%;
    padding: 3px;

    /*This was testing*/


    /*height: 1vh;*/
    /*object-fit: contain;*/
    /*transform: rotate(45deg);*/
    /*height: auto;*/
    /*margin-left: -9%;*/
    /*margin-top: -10%;*/
    /*overflow: scroll;*/
    /*position: relative;*/
}

/*For side slide bar*/
.side-desc{
    position: fixed;
    padding: 40px;
    right: -400px;
    top: 150px;
    bottom: 0;
    background: #333;
    width: 400px;
    font-size: 15px;
    color: white;
    z-index: 0;
    transition: 0.7s ease-in-out;
    border-radius: 5px;
}
/*Mars Slider*/
.toggle-title{
    transform: rotate(270deg);
    position: fixed;
    /*top: 150px;*/
    bottom: 200px;
    right: -40px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.toggle{
    position: fixed;
    /*top: 150px;*/
    bottom: 300px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.toggle-title:hover,.toggle:hover,.toggle-moon-title:hover, .moon-toggle:hover{
    color:#ef5966;
}
#toggler{
    display: none;
}
#toggler:checked + .page-wrap .side-desc{

    right: 0;
}
#toggler:checked + .page-wrap .toggle{

    right: 400px;
}
#toggler:checked + .page-wrap .toggle-title{

    right: 340px;
}


/*Moon Slider*/
.toggle-moon-title{
    transform: rotate(270deg);
    position: fixed;
    /*top: 150px;*/
    bottom: 100px;
    right: -50px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    text-decoration: none;
}
.moon-toggle{
    position: fixed;
    /*top: 150px;*/
    bottom: 210px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    color: #f47c33;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
#toggler:checked + .page-wrap .toggle-moon-title{

    right: 330px;
}
#toggler:checked + .page-wrap .moon-toggle{

    right: 400px;
}

.box-wrapper{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.box{
    position: relative;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1em;
}
.btn-back{
    display: inline-block;
    color: #fff;
    padding: 0.6em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #302144;
    position: relative;
    transition: all 0.5s;

}
.btn-back:hover{
    background-color: #592651;
    border-color: #a53f5b;
}
.btn-redirect{
    display: inline-block;
    color: #fff;
    padding: 0.6em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #302144;
    position: relative;
    transition: all 0.5s;

}
.btn-redirect:hover{
    background-color: #592651;
    border-color: #a53f5b;
}
.box-wrapper.active{
    visibility: visible;
    opacity: 1;
}
.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}





/*footer*/
.footer > p {
    /*padding-top: 10%;*/
    /*padding-left: 5%;*/
    padding: 20px;
    font-size: 50%;
}

