/*Global*/
body
{
    font-family: sans-serif;
}

/*Navbar*/
.nav-link{
    font-weight: bold;
}
ul#navbar-nav li a:hover{
    color: red;
}


.psyche-title{
    color: #A53F5B;
    font-size: 21px;
}

.psyche-headline {
    color: #302144;
    font-size: 42px;
    padding-bottom: 0;
}

.psyche-body{
    color: #302144;
    font-size: 24px;
}

/*index.html*/
.content-index{
    display: grid;
    grid-template-areas:
            'title . craft'
            'text . image'
            'text . image';
    position: relative;
}

.psyche-img{
    grid-area: image;
    position: relative;
    overflow: hidden;
    margin-left: 35%;
    transform: rotate(90deg);

}
.psyche-craft-img{
    grid-area: craft;
    width: 100px;
    height: 100px;
    opacity: 0.5;

}

.title{
    grid-area: title;
    padding-left: 10%;
}


.facts{
    grid-area: text;
    padding-left: 12%;
}

/*maps.html, moon.html, mars.html, psyche.html*/
.content-maps{
    padding-left: 3%;
}
.content-maps > .viewport {
    width: 100%;
    max-height: 10%;
    overflow: hidden;
    horiz-align: center;
}

.content-maps > .img-map{
    width:100%;
    border: 2px solid black;
}

/*Events.html*/
.content-events{
    /*padding-left: 3%;*/
    display: grid;
    grid-template-areas:
            'space title'
            'image text'
            'image text';
    grid-template-rows: 100px 100px 620px;
    grid-template-columns: 1.3fr .5fr;
    overflow: hidden;
    position: relative;
}

.events-title{
    grid-area: title;
    padding-right: 10%;
    margin-left: -30%;
    margin-right: 20%;
}

.events{
    grid-area: text;
    padding-right: 10%;
    margin-right: 20%;
    margin-left: -28%;
}

.psyche-launch-img{
    grid-area: image;
    transform: rotate(45deg);
    width: 80%;
    margin-top: -11%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

/*footer*/
.footer > p {
    padding-top: 10%;
    padding-left: 3%;
    font-size: 50%;
}
