<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  lang="en">
<head>
    <title>Planetary Mapping</title>

    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <!--Navigation-->
    <div th:replace="fragments/header.html :: nav"> </div>

    <!--Content-->
    <div class="content-events">
        <h1 class="events-title psyche-headline">Psyche Events</h1>
        <p class="events psyche-body">
            Follow the Psyche <a href="https://psyche.asu.edu/timeline/" target="_blank" rel="noopener">timeline!</a>
        </p>
        <img class="psyche-launch-img" src="images/background.jpg" alt="Psysche_Launch">

    </div>

    <!--Footer-->
    <footer >
        <div th:replace="fragments/footer.html :: footer"> </div>
    </footer>
</body>
</html>

