<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  lang="en">
<head>
    <title>Planetary Mapping</title>

    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


</head>
<body>


    <!--Navigation-->
    <div th:replace="fragments/header.html :: nav"> </div>
    <div th:replace="fragments/redirectWindow.html :: redirect"> </div>
        <!--Content-->
    <div id="content-events" class="content-events">
        <h1 class="events-title psyche-headline">Planetary Geological Mapping</h1>
        <p class="events psyche-body">
            Geological mapping is the creation of a special map made to display various geological features.
            "It is a highly interpretive, scientific process that can produce a range of map products for many different uses, including assessing ground water quality and contamination risks;
            predicting earthquake, volcano, and landslide hazards." -<a href="https://www.usgs.gov/core-science-systems/national-cooperative-geologic-mapping-program/science/introduction-geologic?qt-science_center_objects=0#qt-science_center_objects" rel="noopener" target="_blank">USGS</a>
            They are also used for planetary mapping!
            
        </p>
        <img class="psyche-launch-img" src="images/Camelback3DScene.jpg" alt="Psysche_Launch">
    </div>

    <!--Footer-->
    <footer >
        <div th:replace="fragments/footer.html :: footer"> </div>
    </footer>
</body>
</html>

