<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login to your account</title>
    <link type="text/css" rel="stylesheet" href="login.css" />

</head>
<body>

<div class="navbar">

    <div class="navtitle" id="navtitle">


        <a><img src="Psychelogopinart.png" height="20" width="20"/> PSYCHE: JOURNEY TO A METAL WORLD</a>
    </div>

</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input id="user" type="text" name="username"/> </label></div>
    <div><label> Password: <input id="pass" type="password" name="password"/> </label></div>
    <div><input id="signin" type="submit" value="Sign In"/></div>
</form>
<form th:action="@{/register}" method="get">
    <div><input id="reg" type="submit" value="Register"/></div>
</form>
<form th:action="@{/home}" method="get">
    <div><input id="home" type="submit" value="Return"/></div>
</form>


</body>
</html>