<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mars</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

    <!--Navigation-->
    <div th:insert="fragments/header.html :: nav"> </div>
    <div class="content-maps">
        <h1>Mars</h1>

        <div class="viewport">
            <img th:src="@{images/Mars.svg}" class="img-map">
        </div>
    </div>
</body>
</html>