<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Register for a account </title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/register}" method="post">
    <div><label> User Name : <input type="text" name="userName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="hidden" name="auth" value="user"></div>
    <div><input type="submit" value="Register"/></div>
</form>

<form th:action="@{/home}" method="get">
    <div> <input type="submit" value="Take Me Home!"></div>
</form>
</body>
</html>
