<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin Slider</title>
</head>
<body>
    <section layout:fragment="content">
        <p>&nbsp;</p>
        <a class="btn btn-primary" th:href="@{/admin/slider/add}" role="button">Add New</a>
        <p>&nbsp;</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Caption</th>
                    <th scope="col">Image</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="slide, iStat : ${slides}">
                    <th scope="row" th:text="${iStat.count}"></th>
                    <td th:text="${slide.id}"></td>
                    <td th:text="${slide.title}"></td>
                    <td th:text="${slide.caption}"></td>
                    <td th:text="${slide.image}"></td>
                    <td><a th:href="${'/admin/slider/edit/' + slide.id}">Edit </a>  &nbsp; &nbsp;<a th:href="${'/admin/slider/delete/' + slide.id}"> Delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>