<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin - Accordion - Add</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Add New Accordion</h1>
        <p>&nbsp;</p>
        <form method="post">
            <label>Title: <input name="title" type="text"></label>
            <label>Paragraph: <textarea name="paragraph" type="text"></textarea></label>
            <p>&nbsp;</p>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </section>
</body>
</html>