<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Admin - Accordion - Delete</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Delete Accordion</h1>
        <form method="post">
            <label>Title: <input th:field="${accordion.title}" type="text" readonly></label>
            <label>Paragraph: <textarea th:field="${accordion.paragraph}" type="text" readonly></textarea></label>
            <p>&nbsp;</p>
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </section>
</body>
</html>